
.container-cataloguee {
    height: 100%;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
}



.allmaillot {
    font-family: 'MGCS';
    font-size: 60px;
    font-weight: 400;
    padding-top: 100px
}

h6{
    font-size: 30px;
    margin-top: 10px;

}
.container-marque {
    width: 80vw;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.marque {
    margin-top: 40px;
    width: 250px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.marque img {
    width: 80px;
    height: 80px;
}

.marque p {
    text-align: center;
    margin-left: 50px;
    font-family: 'Normal';
}

.other {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-filter {
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    height: 150px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.container-filter p {
    color: black;
    font-family: 'Normal';
    font-size: 30px;
    margin-right: 10px;
}
.container-filter img {
    width: 40px;
    height: 35px;
}

.container-produits {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-produits img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-right: 40px;
    cursor: pointer;
    box-shadow:0px 15px 48px 0 rgba(0,0,0,0.16);
    opacity: 0.95;
}
.container-produits img:hover{
transform: scale(1.02);
translate: opacity 0.5s;
opacity: 1;
}

.coeur {
    position: absolute;
    top: 15px;
    left: 260px;
    width: 20px;
    height: 20px;
    background-image: url('../img/coeur.png');
    background-size: cover;
    cursor: pointer;
  }
.coeur_like {
    position: absolute;
    top: 15px;
    left: 260px;
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    background-image: url('../img/coeurplein.png');
  }
.container-filter-content form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw
}
.container-filter-content select {
    background-color: #333333;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: #F1F6F9;
    text-align: center;
    font-family: 'Normal';
    margin-right: 30px;
}

.container-filter-content input {
    width: 240px;
    height: 80px;
    border-radius: 5px;
    background-color: #333333;
    color: #F1F6F9;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}



.produits {
    height: 400px;
    margin-bottom: 30px;
    position: relative;
}
.produitsfav {
    margin-bottom: 30px;
}

.produitsfav h3 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Normal';
  }

.produitsfav h4 {
    margin-top: 5px;
    font-style: italic;
    color: #939292;
    font-size: 15px;
    font-family: 'Normal';
  }

.produitsfav h5 {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Normal';
  }

.produits h3 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Normal';
  }

.produits h4 {
    margin-top: 5px;
    font-style: italic;
    color: #939292;
    font-size: 15px;
    font-family: 'Normal';
  }

.produits h5 {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Normal';
  }

.pagination-container {
    height: 150px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-right: 20px;
}

.pagination img {
    width: 60px;
    height: 60px;
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 10px;
}

#favoris-container {
    height: 100%;
}

.Textfav {
    font-family: 'MGCS';
    font-size: 60px;
    font-weight: 400;
    padding-top: 120px;
    padding-left: 80px;
}

.remove-button {    
    margin-top: 10px;
    background-color: #333333;
    color: #F1F6F9;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.remove-button:hover {
    transform: scale(1.05);
}

.Achat {
    width: 300px;
    height: 80px;
    border-radius: 5px;
    background-color: #333333;
    color: #F1F6F9;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
    font-family: 'MGCS';
}

.container-achat {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#favoris-image {
    margin-top: 40px;
    margin-right: 0px;
}

#sort-button {
    background-color: #333333;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 12px;
    color: #F1F6F9;
    text-align: center;
    font-family: 'Normal';
    margin-right: 100px;
}

.fleche-nav {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
@media (max-width: 1395px) {
    .marque {
        width: 200px;
        height: 100px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
    }
    @media (max-width: 670px) {
        .container-filter-content form {
           margin-right: 0px;
        }
        .allmaillot {
            font-size: 40px;
            padding-top: 50px;
            text-align: center;
        }
        .container-filter-content p {
             font-size: 12px;
         }
         .container-filter-content input {
            width: 120px;
            height: 40px;
            font-size: 14px;
        }
        .container-filter-content select {
            margin-right: 10px;
            font-size: 10px;
        }
        #sort-button {
            margin-right: 10px;
            font-size: 8px;
         }
        }
    @media (max-width: 540px) {

       .container-cataloguee {
        padding-left: 0px;
       }
       .container-filter {
        margin-left: 20px;
        margin-right: 30px;
       }
       .container-filter input {
        margin-left: 20px;
       }
       .container-produits {
        padding-left: 20px;
        padding-right: 20px;
       }
 }


        @media (max-width:900px) {
            .Textfav {
                text-align: center;
                padding-left: 0px;
                margin: 0px;
            }
            .container-produits img {
                margin-right: 0px;
            }
    }