.container-global {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
}

.container-carrousel {
    background-color: #F1F6F9;
    height:400px;
    width: 700px;
    box-shadow: 0px 15px 48px 0 rgba(0,0,0,0.16);
    padding: 40px;
    margin-left: 80px;
    display: flex;
}

    
.swiper-top {
    width: 447px;
    height: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.swiper-top img {
    width:400px;
    height: 400px;
}

.swiper-bottom {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 50px;
}

.swiper-bottom img {
    width: 95px;
    height:95px;
}

.container-text {
    margin-left: 50px;   
}

.container-text h2 {
    font-family: 'Title';
    font-size: 40px;
}

.container-text h3 {
    font-family: 'Regular';
    font-size: 20px;
    margin-top: 20px;
}

.container-text h4 {
    font-family: 'Regular';
    font-size: 30px;
    margin-top: 20px;
}

.container-text p {
    font-family: 'Thin';
    font-size: 15px;
    margin-top: 50px;
}

.container-button {
    margin-top: 5px;
    width: 431px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.container-button button {
    width: 120px;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 0.5px black;
}

.add {
    width: 431px;
    height: 70px;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: 20px;
}