.container-mentions {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 80px;
    height: 100%;
    margin-bottom: 50px;
}

.container-mentions h2 {
    font-family: 'MGCS';
    font-size: 60px;
    font-weight: 400;
    margin-top: 20px;
}

.container-mentions h3 {
    font-family: 'Normal';
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}

.container-mentions p  {
    font-family: 'Normal';
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}