
/******CARD CSS****/
/* Ajoutez ce code à votre fichier CSS produit.css */
#payment-form {
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#card-element {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Normal';
}

#submit-payment {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

#submit-payment:hover {
    background-color: #45a049;
}


@media (max-width: 650px) {
    #submit-payment {
        width: 40vw
    }
    #card-element {
       width: 230px;
    }
    #payment-form {
       width: 250px;
    }
}