
.container-produits {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.container-catalogue {
    height: 100%;
    padding-top: 120px;
    padding-left: 80px;
}

.container-produits img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
     margin-right:  20px;
    box-shadow:0px 15px 48px 0 rgba(0,0,0,0.16);
    opacity: 0.95
}
.container-produits img:hover{
    transform: scale(1.02);
    translate: opacity 0.5s;
    opacity: 1;
}
.coeur {
    position: absolute;
    top: 15px;
    left: 260px;
    width: 20px;
    height: 20px;
    background-image: url('../img/coeur.png');
    background-size: cover;
    cursor: pointer;
  }

.coeur:hover {
    background-image: url('../img/coeurplein.png');
  }

.produits {
    margin-left: 20px;
    margin-top: px;
    height: 450px;
    position: relative;
}

.produits h3 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Normal';
  }

.produits h4 {
    margin-top: 5px;
    font-style: italic;
    color: #939292;
    font-size: 15px;
    font-family: 'Normal';
  }

.produits h5 {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Normal';
  }

  .container-catalogue h2 {
    font-family: 'Normal';
    font-size: 40px;
    margin-bottom: 20px;
  }

  .old-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
}

.produits p {
    font-size: 30px;
    font-family: 'Normal';
}

h2 {
  padding-top: 120px;
  font-size: 60px;
  font-family: 'MGCS';
  padding-left: 80px;
}

.noresult {
  font-size: 50px;
  font-family: 'Normal';
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (max-width: 980px) {
  .container-catalogue h2 {
    font-family: 'Bold';
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 680px) {
  .container-produits {
    justify-content: center;
  }
  .container-catalogue {
    padding-left: 0;
  }
  .noresult {
    margin-top: 50px;
  }
  }

  @media (max-width: 1000px) {
    h2 {
    padding-top: 150px;
     text-align: center;
     font-size: 50px;
     padding-left: 0px;
    }
    .noresult {
      text-align: center;
    }
  }

  @media (max-width: 560x) {
    h2 {
     font-size: 30px;
    }
    .noresult {
      text-align: center;
    }
  }