DB_HOST= localhost
DB_USER= your_mysql_user
DB_PASSWORD= your_mysql_password
PORT=3000

## email d'envoie des codes de confirmation

EMAIL=whethefoot@gmail.com

EMAIL_PASS= mot_de_passe_de_application_Wethefoot     (mis en commentaire sur moodle)


