    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <title>Accueil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/index.css">
        <link rel="stylesheet" href="../assets/css/global.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    </head>
    <header class="header"> 
        <a class="title" href="./accueil.html"><h1> wethefoot</h1> </a>
        <nav class="Catalogue-Euro">
        <a href="./catalogue.html">Catalogue</a>
        <a href="/">Euro 2024</a>
        </nav>
        <form action="/" method="post">
            <input type="text" name="recherche" id="recherche" placeholder="Search for a team, a brand..." autocomplete="off">
        </form>
        <nav class="Fav-Panier">
            <a href="/"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
            <a href="/"><img src="../assets/img/sac-de-courses.png"></a>
        </nav>
    </header>
    <section class="container-index">
        <img src="../assets/img/pexels-bohlemedia-1884574.jpg">
        <div class="container-decouvrir">
            <div class="container-decouvrir-text">
            <h2>Retrouvez vos équipes favorites.</h2>
            <h3> Tous les maillots anciens ou nouveaux de vos clubs préférés sont disponible sur notre site dès maintenant. </h3>
            <a href="./catalogue.html"><button> <p>Découvrir </p> </button></a>
            </div>
        </div>
    </section>
    <section class="container-new">

       
        <section class="swiper">
            <div class="new"> 
                <p> NEW </p>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide"> 
                    <img src="../assets/img/MaillotFr.png">
                    <div class="coeur"></div>
                    
                    <h3> France 2024/2025 Domicile </h3>
                    <h4> Maillot de foot replica Homme </h4>
                    <h5> 99,99 €</h5>
            
                </div>
                <div class="swiper-slide"> 
                    <img src="../assets/img/MaillotFr2.png">
                    <div class="coeur"></div>
                
                    <h3> France 2024/2025 Extérieur </h3>
                    <h4> Maillot de foot replica Homme </h4>
                    <h5> 99,99 €</h5>
            
                </div>
                <div class="swiper-slide"> 
                
                    <img src="../assets/img/MaillotBr.png">
                    <div class="coeur"></div>
                    <h3> Brésil 2024/2025 Domicile </h3>
                    <h4> Maillot de foot replica Homme </h4>
                    <h5> 99,99 €</h5>
                
                </div>
                <div class="swiper-slide"> 
                
                    <img src="../assets/img/Portu.png">
                    <div class="coeur"></div>
                    <h3> Portugal 2024/2025 Domicile </h3>
                    <h4> Maillot de foot replica Homme </h4>
                    <h5> 99,99 €</h5>
                    
                </div>
                </div>

                <div class="swiper-navigation">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>  
                </div>
        

        </section>
    </section>


    <footer>
        <div class="nav-footer">
            <a href=""> CONTACT </a>
            <a href=""> MENTIONS LEGALES </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../assets/js/carrousel.js"></script>

    </body>
    </html>