<!DOCTYPE html>
<html>

<head>
    <title>ADMIN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <form action="/ajouter" method="post"  enctype="multipart/form-data" onsubmit="return ValidateForm()">
    
        <!--nom du produit-->
        <div class="produits">
        <div class="name">
            <label for="name">Nom du Produit :</label>
        <input type="text" id="name" name="name" required placeholder="Nom du produit">
    </div>
    <!--Quantity-->
    <div class="quantity">
        <label for="quantity">Quantité :</label>
        <input type="number" id="quantity" name="quantity" required placeholder="Quantité">
    </div>
        
        <!--prix-->
         <div class="price">
        <label for="price">Prix :</label>
        <input type="number" id="price" name="price" step="0.01" required min="0" placeholder="Prix">
         </div>
      <!--reduction-->
         <div class="reduction">
            <label for="reduction">Réduction :</label>
            <input type="number" id="reduction" name="reduction" step="0.01" required min="0" placeholder="Réduction">    
         </div>
        </div>
             <!--COULEUR-->
             <div class="colors" id="color_container">
              <label>Couleurs :</label>
              <div class="color">
                <input type="checkbox" id="black" name="colors[]" value="black" onchange="gestionImages()">
                <label for="color1">Noir/Extérieur</label>
            </div>
            <div class="color">
                <input type="checkbox" id="white" name="colors[]" value="white" onchange="gestionImages()">
                <label for="color2">Blanc/Domicile</label>
        
      </div>
             </div>
          <!--images-->
      <div id="images_container" class="images" style="display: none;"></div>
    
        <!--devise-->
      <div class="devises">
        <label for="devise">Devise</label>
        <div class="devise">
        <input type="radio" id="devise1" name="devise" value="EURO">
        <label for="devise1">EURO</label>
    </div>
    <div class="devise">
        <input type="radio" id="devise2" name="devise" value="DOLLARS">
        <label for="devise1">DOLLARS</label>
    </div>
</div>
      
       <!--DESCRIPTION-->
       <div class="description">
        <label for="description">Description :</label>
        <textarea id="description" name="description" required></textarea>
    </div>

        <!--CARACTERISTIQUES-->
        <h1>--CARACTERISTIQUES--</h1>
<div class="gender">
        <label for="gender">Genre :</label>
        <select id="gender" name="gender">
          <option value="Femme">Femme</option>
          <option value="Homme">Homme</option>
        </select>
    </div>
      <!--TYPE-->
      <div class="types">
        <label for="type">Type :</label>
        <div class="type">
        <input type="radio" id="maillot" name="type" value="Maillot">
        <label for="type1">Maillot</label>
    </div>
        <div class="type">
        <input type="radio" id="short" name="type" value="Short">
        <label for="type2">Short</label>
        </div>
      </div>
      <!--TAILLES-->
      <div class="colors">
        <label>Tailles :</label>
          <div class="color">
            <input type="checkbox" id="xs_size" name="size[]" value="xs">
            <label for="size1">XS</label>
          </div>

          <div class="color">
            <input type="checkbox" id="s_size" name="size[]" value="s">
            <label for="size2">S</label>
          </div>

          <div class="color">
          <input type="checkbox" id="m_size" name="size[]" value="m">
          <label for="size3">M</label>
        </div>
      </div>
        <div class="colors">
         
        <div class="color">
          <input type="checkbox" id="l_size" name="size[]" value="l">
          <label for="size4">L</label>
        </div>
        <div class="color">
          <input type="checkbox" id="xl_size" name="size[]" value="xl">
          <label for="size5">XL</label>
        </div>
        <div class="color">
          <input type="checkbox" id="2xl_size" name="size[]" value="2xl">
          <label for="size6">2XL</label>
        </div>
        <div class="color">
          <input type="checkbox" id="3l_size" name="size[]" value="3l">
          <label for="size7">3XL</label>
        </div>
      </div>



      <input  class="button" type="submit" value="Ajouter">
    </form>
</body>
<script src="../assets/js/main.js"></script>
</html>