<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Favoris</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/detailsproduits.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<header class="header"> 
    <a class="title" href="./accueil.html"><h1> wethefoot</h1> </a>
    <nav class="Catalogue-Euro">
    <a href="./catalogue.html">Catalogue</a>
    <a href="/">Euro 2024</a>
    </nav>
    <form action="/" method="post">
        <input type="text" name="recherche" id="recherche" placeholder="Search for a team, a brand..." autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="./favoris.html"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="./panier.html"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>
<section class="container-global">
    <section class="container-carrousel">
    <section class="swiper-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> 
                   <img src="../assets/img/MaillotFr.png">
                </div>
                <div class="swiper-slide"> 
                    <img src="../assets/img/MaillotFr2.png">
                 </div>
                 <div class="swiper-slide"> 
                    <img src="../assets/img/MaillotFr.png">
                 </div>
                 <div class="swiper-slide"> 
                    <img src="../assets/img/MaillotFr.png">
                 </div>
            </div>
    </section>
    <div class="container-swiper-bottom">
        <section class="swiper-bottom">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> 
                    <img src="../assets/img/MaillotFr.png">
                 </div>
                 <div class="swiper-slide"> 
                     <img src="../assets/img/MaillotFr2.png">
                  </div>
                  <div class="swiper-slide"> 
                     <img src="../assets/img/MaillotFr.png">
                  </div>
                  <div class="swiper-slide"> 
                     <img src="../assets/img/MaillotFr.png">
                  </div>
            </div>
        </div>
             </section>
             <section class="container-text">
                <h2> France 2024/2025 Domicile </h2>
                <h3> Maillot de foot replica pour homme </h3>
                <h4> 99,99 € </h4>
                <p> Sélectionner un maillot </p>
                <div class="container-button">
                <button> Domicile </button>
                <button> Extérieur </button>
                <button> Third </button>
             </div>
                <button class="add"> Ajouter au panier </button>
            </section>
    </section>
   
</section>




<footer>
    <div class="nav-footer">
        <a href="./mentions.html"> CONTACT </a>
        <a href="./mentions.html"> MENTIONS LEGALES </a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../assets/js/produitscarrousel.js"></script>

</body>
</html>