<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Catalogue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/mentions.css">
    <link rel="stylesheet" href="../assets/css/global.css">
  
</head>
<header class="header">
    <a class="title" href="/home">
        <h1>wethefoot</h1>
    </a>
    <nav class="Catalogue-Euro">
        <a href="/catalogue">Catalogue</a>
        <a href="/">Euro 2024</a>
    </nav>
    <form action="/search" method="post">
        <input type="text" name="recherche" id="recherche" placeholder="Search for a team, a brand..." autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="/panier"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>
<body>
<section class="container-mentions">
    <h2>Mentions Légales </h2>
    <h3> 1. Éditeur du site </h3>
    <p>  Le site internet www.wethefoot.com est édité par :

        WeTheFoot </p>
        <p> Adresse : 2 rue le corbusier </p>
        <p> Contact : 05 56 90 00 10 </p>
    <h3> 2. Hébergement du site</h3>
    <p> Le site wethefoot est hébergé par :

        Ynov aix campus </p>
        <p> Adresse : 2 rue le corbusier </p>
        <p> Contact : 05 56 90 00 10 </p>
    <h3> 3. Propriété intellectuelle</h3>
    <p> L'ensemble du contenu présent sur le site wethefoot, incluant, de manière non limitative, les textes, graphismes, images, photographies, vidéos, sons, logos, icônes, ainsi que leur mise en forme, sont la propriété exclusive de WeTheFoot, sauf indication contraire. Ces éléments sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle et aux droits d'auteur.</p>
    <p> Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de WeTheFoot. Toute exploitation non autorisée du site ou de l'un quelconque des éléments qu'il contient sera considérée comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
    <p> Les marques et logos de WeTheFoot et des partenaires figurant sur le site sont des marques déposées. Toute reproduction totale ou partielle de ces marques ou logos, effectuée à partir des éléments du site sans l'autorisation expresse de WeTheFoot, est donc prohibée, au sens de l'article L.713-2 du Code de la propriété intellectuelle.</p>
    <p> Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement vers la page d'accueil, accessible à l'URL suivante : www.wethefoot.com, à condition que ce lien s'ouvre dans une nouvelle fenêtre. En particulier, un lien vers une sous-page ("lien profond") est interdit, ainsi que l'ouverture du présent site au sein d'un cadre ("framing"), sauf l'autorisation expresse et préalable de WeTheFoot.</p>
</section>


<footer>
    <div class="nav-footer">
        <a href="/mentions"> CONTACT </a>
        <a href="/mentions"> MENTIONS LEGALES </a>
</div>
</footer>

</body>
</html>