<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page introuvable</title>
</head>
<body>
    <!DOCTYPE html>
    <html>
    <head>
        <title>Address Autocomplete with Algolia Places</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/places.js@1.19.0/dist/cdn/places.min.css">
        <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    </head>
    <body>
        <form>
            <input id="address-input" placeholder="Saisissez votre adresse" type="text"></input>
            <input id="street" placeholder="Rue" type="text"></input>
            <input id="city" placeholder="Ville" type="text"></input>
            <input id="state" placeholder="État" type="text"></input>
            <input id="postal-code" placeholder="Code postal" type="text"></input>
            <input id="country" placeholder="Pays" type="text"></input>
        </form>
    
        <script>
            (function() {
                const placesAutocomplete = places({
                    appId: 'FQVA2MZCHC', // Votre Application ID
                    apiKey: '8afc47d5468603e3961a86', // Votre Search API Key
                    container: document.querySelector('#address-input')
                });
    
                placesAutocomplete.on('change', function resultSelected(e) {
                    document.querySelector('#street').value = e.suggestion.name || '';
                    document.querySelector('#city').value = e.suggestion.city || '';
                    document.querySelector('#state').value = e.suggestion.administrative || '';
                    document.querySelector('#postal-code').value = e.suggestion.postcode || '';
                    document.querySelector('#country').value = e.suggestion.country || '';
                });
            })();
        </script>
    </body>
    </html>
    
</body>
</html>