<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Panier</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/panier.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <script src="../assets/js/panier.js" defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
<header class="header">
    <a class="title" href="./accueil.html">
        <h1> wethefoot</h1>
    </a>
    <nav class="Catalogue-Euro">
        <a href="./catalogue.html">Catalogue</a>
        <a href="/">Euro 2024</a>
    </nav>
    <form action="/" method="post">
        <input type="text" name="recherche" id="recherche" placeholder="Search for a team, a brand..."
            autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="./favoris.html"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="./panier.html"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>

<section class="container-panier">
    <h2>Votre Panier</h2>
    <div id="cart-items" class="swiper-wrapper"></div>
    <button id="clear-cart">Vider le panier</button>
    <div id="total-price">Total: 0 EUR</div>

    
  
        <form id="payment-form">
            <div id="card-element">
                <!-- Stripe.js injectera le formulaire de saisie de la carte ici -->
            </div>
            <button id="submit-payment" style="height: 50px;">Payer</button>
            <div id="card-errors" role="alert"></div>
        </form>
</section>



   


</body>

</html>