<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement</title>
    <link rel="stylesheet" href="../assets/css/payment.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../assets/js/paymentStripe.js" defer></script>
</head>

<body>
    <form id="payment-form">
        <div id="total-amount-div"></div>
        <div class="div-container">
            <label for="address">Nom</label>
            <input type="text" id="name" name="name" required minlength="3">
        </div>

        <div class="div-container">
            <label for="address">Prénom</label>
            <input type="text" id="firstname" name="firstname" required minlength="3">
        </div>

        <div class="div-container">
            <label for="address">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="div-container">
            <label for="address">Adresse:</label>
            <input type="text" id="address" name="address" autocomplete="off" width="500px">
            <ul id="suggestions" style="border: 1px solid #ccc; list-style: none; padding: 0;"></ul>

        </div>
        <div class="div-container">
            <label for="card-element">Carte de crédit ou de débit</label>
            <div id="card-element"></div>
        </div>

        <button type="submit">Payer</button>
        <div id="card-errors" role="alert"></div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
           
        });
    </script>
</body>

</html>