<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement</title>

      <link rel="stylesheet" href="../assets/css/payment.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/spinner.css">
    <script src="../assets/js/spinner.js" defer></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../assets/js/paymentStripe.js" defer></script>
</head>
<header class="header">
    <a class="title" href="/backend/home">
        <h1>wethefoot</h1>
    </a>
    <form action="/backend/search" method="GET">
        <input type="text" name="search" id="search" placeholder="Search for a team, a brand..." autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="/backend/catalogue">Catalogue</a>
        <a href="/backend/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="/backend/panier"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>
<body>
    <form id="payment-form">
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Veuillez entrer le code de confirmation envoyé à votre adresse email :</p>
              <input type="text" id="confirmationCode" />
              <button id="submitCode" data-toggle="modal">Submit</button>
            </div>
          </div>
          

        <div id="total-amount-div"></div>
        <div class="div-container">
            <label for="name">Nom</label>
            <!-- Utiliser la variable name pour remplir le champ du nom -->
            <input type="text" id="name" name="name" value="<%= name %>" required minlength="3" readonly>
        </div>
        <div class="div-container">
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" value="<%= firstname %>" required minlength="3" readonly>
        </div>
        <div class="div-container">
            <label for="email">Email</label>
           <input type="email" id="email" name="email" value="<%= email %>" required readonly>
        </div>
        <div class="div-container">
            <label for="address">Adresse:</label>
            <input type="text" id="address" name="address" autocomplete="off">
            <ul id="suggestions" style="border: 1px solid #ccc; list-style: none; padding: 0;"></ul>
        </div>
        <div class="div-container">
            <label for="card-element">Carte de crédit ou de débit</label>
            <div id="card-element"></div>
        </div>
        <button type="submit">Payer</button>
        <div id="card-errors" role="alert"></div>
    </form>
    

</body>
</html>